.steps {
  text-align: center;
  font-size: 40px;
  margin-bottom: 5px;
}
.steps button{
  font-size: 40px;
  padding: 0px 12px;
}

span {
  margin-top: 10px;
  font-size: 40px
}

.span{
  display: flex;
  justify-content: center;}